.head-container{
    background-color: #264653;
    width: 100%;
}
.header-text{
    padding: 155px;
}
.header-button{
    background-color: #E76F51;
    width: 144px;
}
.header-img{
    width: 550px;
}
.feature-text p, .happy-text{
    color: #E76F51;
    font-weight: 700;
    padding-bottom: 40px;
}
.bike-margin{
    border-color: transparent;
}
.bike-gray{
    filter: grayscale(100%);
}
.modal-custom{
    color: royalblue;
}
.user3-custom{
    height: 150px;
    width: 150px;
}
.checked {
    color: orange;
  }
  .faq-img{
      width: 60%;
  }
  .newsletter {
    padding: 80px 0;
    background: #da86192a;
    }
    
    .newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px; }
    .newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
    }
    .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
    }
    .newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #243c4f;
    color: #fff;
    font-weight:600;
    }
    .perform{
        background-color: #e76f5118;
    }
    footer{
        background-color: red;
        color: white;
    }
  @media only screen and (max-width: 576px) {

      .header-text{
          padding:70px 50px;
          text-align: justify;
          margin: auto;
          width: 350px;
      }
.header-img{
        width: 85%;
        /* margin: 0 auto; */
        margin-left: 25px;
        /* justify-content: center; */
    }
  
    .feature-text p, .happy-text{

        padding-bottom: 0;
    }
    .happy-text{
        /* overflow-wrap: break-word\\\\\\\\; */
        display: block;
    }

.bike-margin{
    margin-top: 100px;
    border-color: transparent;
    /* margin-top: 30px;
    margin-bottom: 30px; */
}
.bike-gray,.bike-color{
    width: 80%;
    margin: auto;
}
.faq-img{
   
width: 70%;
margin: 50px;
/* padding-left: 100px; */
}
.faq-text{
    margin: 50px;
    padding: 50px;
}

  }